@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ==========================================================================
   Font Face
   ========================================================================== */
@font-face {
  font-family: "Avenir Medium";
  src: url('fonts/Avenir-Medium/Avenir-Medium.eot?1465287680');
  src: url('fonts/Avenir-Medium/Avenir-Medium.eot?&1465287680#iefix') format('embedded-opentype'), url('fonts/Avenir-Medium/Avenir-Medium.woff?1465287680') format('woff'), url('fonts/Avenir-Medium/Avenir-Medium.ttf?1465287680') format('truetype');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Nexa Light";
  src: url('fonts/Nexa-Light/light.eot?1465287680');
  src: url('fonts/Nexa-Light/light.eot?&1465287680#iefix') format('embedded-opentype'), url('fonts/Nexa-Light/light.woff?1465287680') format('woff'), url('fonts/Nexa-Light/light.ttf?1465287680') format('truetype'), url('fonts/Nexa-Light/light.svg?1465287680') format('svg');
  font-weight: "normal";
  font-style: "normal";
}
@font-face {
  font-family: "Nexa Bold";
  src: url('fonts/Nexa-Bold/bold.eot?1465287680');
  src: url('fonts/Nexa-Bold/bold.eot?&1465287680#iefix') format('embedded-opentype'), url('fonts/Nexa-Bold/bold.woff?1465287680') format('woff'), url('fonts/Nexa-Bold/bold.ttf?1465287680') format('truetype'), url('fonts/Nexa-Bold/bold.svg?1465287680') format('svg');
  font-weight: "normal";
  font-style: "normal";
}
/* ==========================================================================
   Base Styles
   ========================================================================== */
h1, h2, h3, p, ul li, a, small,
label, input, textarea, blockquote {
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}

html {
  font-size: 16px;
}

body {
  font-size: 80%;
}
@media (min-width: 600px) {
  body {
    font-size: 85%;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 90%;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 100%;
  }
}

h1 {
  font-size: 2.8125em;
  font-family: "Nexa Bold", helvetica, arial, serif;
  font-weight: normal;
  line-height: 43px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.4375em;
    margin-bottom: 40px;
  }
}

h2 {
  font-size: 3.0625em;
  font-family: "Nexa Light", helvetica, arial, serif;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}

h4 {
  font-size: 1.25em;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}

p {
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
  font-size: 1.4375em;
  line-height: 43px;
  color: #07634e;
  margin-bottom: 40px;
}

strong {
  color: #67b43e;
}

ul li {
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
  font-size: 1.4375em;
  line-height: 43px;
  color: #07634e;
}

small {
  font-size: 0.625em;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}

/* Assigning box model */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
  -ms-behavior: url(/backgroundsize.min.htc);
}

/* Assigning clearfix to classes */
.clearfix, .group {
  *zoom: 1;
}
.clearfix:before, .clearfix:after, .group:before, .group:after {
  content: " ";
  display: table;
}
.clearfix:after, .group:after {
  clear: both;
}

/* contact 7 form styles */
.wpcf7-form-control-wrap {
  position: relative;
  display: block;
}

span.wpcf7-not-valid-tip {
  padding: 4px;
  background-color: white;
  width: 100%;
  margin: 10px 0;
}
@media (min-width: 992px) {
  span.wpcf7-not-valid-tip {
    margin: 0;
    width: 95%;
  }
}
@media (min-width: 1200px) {
  span.wpcf7-not-valid-tip {
    width: 90%;
  }
}

.wpcf7-validation-errors {
  color: red;
}

.wpcf7-validation-errors {
  border: 1px solid #07634e !important;
  padding: 14px !important;
  text-align: center;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}

.wpcf7-mail-sent-ok {
  border: 1px solid green !important;
  padding: 14px !important;
  color: green;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
  text-align: center;
}

/* Boostrap styles */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
  .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
  .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
  .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
  .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
  .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
  .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-default {
  background-color: transparent;
  border: none !important;
}

.navbar-toggle {
  margin-top: 14px;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  filter: none;
}

.btn-default, .btn-primary {
  font-size: 0.9375em;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  width: 90%;
  margin: 0 5%;
}
@media (min-width: 768px) {
  .btn-default, .btn-primary {
    margin: 0;
    padding: 0 30px;
    line-height: 45px;
    width: auto;
  }
}

.btn-primary {
  background-color: #2cb00d;
  border-color: #2cb00d;
}
.btn-primary:hover {
  background-color: rgba(44, 176, 14, 0.8);
  border-color: #2cb00d;
}

.form-control {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 1.125em;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
  line-height: 48px;
  min-height: 48px;
}

.carousel-indicators li {
  background-color: #ffffff;
}

.carousel-indicators li.active {
  background: #ffffff url("../img/active-link.png") center center no-repeat;
}

.carousel-inner {
  min-height: 440px;
}
@media (min-width: 768px) {
  .carousel-inner {
    min-height: 340px;
  }
}
@media (min-width: 1200px) {
  .carousel-inner {
    min-height: 360px;
  }
}

/* Helper Classes */
@media (min-width: 600px) {
  .left {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}
.tablet {
  display: block;
}
@media (min-width: 600px) {
  .tablet {
    display: none;
  }
}

.website {
  display: none;
}
@media (min-width: 768px) {
  .website {
    display: block;
  }
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.circle-list {
  margin: 20px 0;
  text-align: left;
  counter-reset: my-awesome-counter;
}
@media (min-width: 768px) {
  .circle-list {
    margin: 40px 0;
  }
}
@media (min-width: 992px) {
  .circle-list {
    margin: 80px 5%;
  }
}
.circle-list li {
  padding-left: 60px;
  position: relative;
  line-height: 33px;
  display: inline-block;
  margin-bottom: 30px;
  counter-increment: my-awesome-counter;
  cursor: pointer;
}
@media (min-width: 768px) {
  .circle-list li {
    padding-left: 160px;
    min-height: 140px;
  }
}
@media (min-width: 992px) {
  .circle-list li {
    width: 46%;
    margin: 40px 2%;
    min-height: 210px;
  }
}
.circle-list li:before {
  content: counter(my-awesome-counter);
  width: 40px;
  height: 40px;
  display: block;
  font-size: 1.5em;
  line-height: 40px;
  border-radius: 80px;
  background-color: #67b43e;
  border: 3px solid #67b43e;
  color: #ffffff;
  font-family: "Nexa Bold", helvetica, arial, serif;
  font-weight: normal;
  position: absolute;
  left: 0px;
  top: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .circle-list li:before {
    width: 134px;
    height: 134px;
    line-height: 134px;
    font-size: 3.4375em;
  }
}
.circle-list li:hover {
  color: #67b43e;
}
.circle-list li:hover:before {
  background-color: #ffffff;
  color: #07634e;
}
@media (min-width: 768px) {
  .circle-list li span {
    height: 140px;
    display: table-cell;
    vertical-align: middle;
  }
}

.application-steps {
  margin-top: 40px;
  position: relative;
}
.application-steps .steps-line {
  display: none;
}
@media (min-width: 768px) {
  .application-steps .steps-line {
    display: block;
    position: absolute;
    top: 34px;
    height: 1px;
    background-color: #CCCCCC;
    width: 100%;
    z-index: 1;
  }
}
.application-steps .step {
  position: relative;
  z-index: 2;
  padding: 0 0 0 60px;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .application-steps .step {
    text-align: center;
    float: left;
    width: 25%;
  }
}
.application-steps .step .step-number {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
  background: #67b43e;
  color: #ffffff;
  border: 2px solid #67b43e;
  border-radius: 50%;
  display: block;
  height: 30px;
  margin: 0px auto;
  width: 30px;
  line-height: 28px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .application-steps .step .step-number {
    border: 4px solid #67b43e;
    position: static;
    left: auto;
    top: auto;
    height: 50px;
    width: 50px;
    line-height: 46px;
  }
}
.application-steps .step .step-label {
  color: #67b43e;
  font-family: "Avenir Medium", helvetica, arial, serif;
  font-weight: normal;
}
.application-steps .step.active .step-number {
  background: #ffffff;
  border: 2px solid #67b43e;
  color: #07634e;
}
@media (min-width: 768px) {
  .application-steps .step.active .step-number {
    border: 4px solid #67b43e;
  }
}
.application-steps .step.active .step-label {
  color: #07634e;
}

#tabs {
  border: none;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #tabs {
    margin-bottom: 40px;
  }
}
@media (min-width: 600px) {
  #tabs li {
    float: none;
    display: inline-block;
  }
}
#tabs li a {
  background: #67b43e;
  color: #ffffff;
  border: 1px solid #67b43e;
  border-radius: 80px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  margin: 8px 8px 8px 0;
}
@media (min-width: 768px) {
  #tabs li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 4px;
  }
}
@media (min-width: 992px) {
  #tabs li a {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 6px;
  }
}
@media (min-width: 1200px) {
  #tabs li a {
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 12px;
  }
}
#tabs li.active a {
  background: #07634e;
  border: 1px solid #ffffff;
}
@media (min-width: 768px) {
  #tabs li.active a {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
@media (min-width: 1200px) {
  #tabs li.active a {
    width: 100px;
    height: 100px;
    line-height: 100px;
  }
}

/* ==========================================================================
   Headspace's custom styles
   ========================================================================== */
/* Header */
header {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  z-index: 600;
}
header .navbar {
  margin: 0;
}
header .navbar .navbar-header {
  height: 64px;
}
@media (min-width: 768px) {
  header .navbar .navbar-header {
    height: 100px;
  }
}
header .navbar .navbar-header .navbar-brand {
  display: block;
  height: auto;
  padding: 15px;
}
@media (min-width: 768px) {
  header .navbar .navbar-header .navbar-brand {
    padding: 15px 0;
  }
}
header .navbar .navbar-header .navbar-brand img {
  width: 72px;
}
@media (min-width: 768px) {
  header .navbar .navbar-header .navbar-brand img {
    width: 100px;
  }
}
@media (min-width: 992px) {
  header .navbar .navbar-header .navbar-brand img {
    width: auto;
  }
}
header .navbar #scrollspy ul li {
  margin: 0 8px;
  font-size: 1em;
}
@media (min-width: 768px) {
  header .navbar #scrollspy ul li {
    margin: 0 2%;
    width: 20%;
  }
}
@media (min-width: 992px) {
  header .navbar #scrollspy ul li {
    margin: 0 8px;
    width: auto;
  }
}
header .navbar #scrollspy ul li a {
  padding: 0 0 0 15px;
  color: #07634e;
  text-transform: uppercase;
  line-height: 40px;
  font-size: 1em;
}
@media (min-width: 768px) {
  header .navbar #scrollspy ul li a {
    border-top: 5px solid #ffffff;
    line-height: 18px;
    padding: 10px 0 0 0;
    margin: 6px 0;
  }
}
@media (min-width: 992px) {
  header .navbar #scrollspy ul li a {
    line-height: 64px;
    padding-top: 30px;
    margin: 0;
  }
}
header .navbar #scrollspy ul li a:hover {
  color: #67b43e;
}
@media (min-width: 768px) {
  header .navbar #scrollspy ul li a:hover {
    border-top: 5px solid #67b43e;
  }
}
header .navbar #scrollspy ul li.active a,
header .navbar #scrollspy ul li.current-menu-item a {
  color: #67b43e;
}
@media (min-width: 768px) {
  header .navbar #scrollspy ul li.active a,
  header .navbar #scrollspy ul li.current-menu-item a {
    background-color: transparent;
    border-top: 5px solid #67b43e;
  }
}

article {
  padding: 60px 0 20px 0;
  overflow: hidden;
}
@media (min-width: 768px) {
  article {
    padding: 60px 0 40px 0;
  }
}
@media (min-width: 992px) {
  article {
    padding: 60px 0;
  }
}

/* Main */
#main {
  padding-top: 64px;
}
@media (min-width: 768px) {
  #main {
    padding-top: 100px;
  }
}
#main #banner {
  *zoom: 1;
  padding: 0;
  width: 100%;
  height: 200px;
  background: url("../img/banner-bg.png") center center no-repeat;
  background-size: cover;
}
#main #banner:before, #main #banner:after {
  content: " ";
  display: table;
}
#main #banner:after {
  clear: both;
}
@media (min-width: 400px) {
  #main #banner {
    height: 300px;
  }
}
@media (min-width: 600px) {
  #main #banner {
    height: 400px;
  }
}
@media (min-width: 992px) {
  #main #banner {
    height: 550px;
  }
}
#main #banner .filter {
  width: 100%;
  height: 200px;
  height: 550px;
  position: absolute;
  background-color: rgba(7, 99, 78, 0.3);
}
@media (min-width: 400px) {
  #main #banner .filter {
    height: 300px;
  }
}
@media (min-width: 600px) {
  #main #banner .filter {
    height: 400px;
  }
}
@media (min-width: 992px) {
  #main #banner .filter {
    height: 550px;
  }
}
#main #main-carousel {
  height: 200px;
}
@media (min-width: 600px) {
  #main #main-carousel {
    height: 400px;
  }
}
@media (min-width: 992px) {
  #main #main-carousel {
    height: 550px;
  }
}
#main #main-carousel .carousel-inner .item {
  text-align: center;
}
@media (min-width: 768px) {
  #main #main-carousel .carousel-inner .item {
    padding: 0 20%;
  }
}
#main #main-carousel .carousel-inner .item a {
  display: block;
}
#main #main-carousel .carousel-inner .item a img {
  width: 60%;
  margin: 60px 20%;
}
@media (min-width: 768px) {
  #main #main-carousel .carousel-inner .item a img {
    width: auto;
    margin: 100px auto;
  }
}
#main #default-title-area {
  background: url("../img/our-mission-bg.png") center center no-repeat;
}
#main #default-title-area h1 {
  color: #ffffff;
  margin: 0;
}
#main #default ul li, #main #default p {
  font-size: 20px;
}
#main #default ul li a, #main #default p a {
  color: #07634e;
  text-decoration: underline;
}
#main #default ul li a:hover, #main #default p a:hover {
  color: #67b43e;
}
#main #default ul {
  margin-bottom: 40px;
}
#main #default ul li {
  position: relative;
  padding-left: 20px;
}
#main #default ul li:before {
  position: absolute;
  left: 0px;
  top: 0px;
  content: "• ";
  color: #67b43e;
}
#main .wpcf7-form-control-signature-wrap input {
  background-color: #07634e;
  color: #ffffff;
  border: none;
  position: absolute;
  bottom: 3px;
  left: 0;
  padding: 12px 135px;
}
@media (min-width: 768px) {
  #main .wpcf7-form-control-signature-wrap input {
    bottom: auto;
    top: 10px;
    left: auto;
    right: -10px;
    padding: 94px 16px;
  }
}
@media (min-width: 992px) {
  #main .wpcf7-form-control-signature-wrap input {
    padding: 94px 22px;
  }
}
@media (min-width: 1200px) {
  #main .wpcf7-form-control-signature-wrap input {
    padding: 94px 16px;
  }
}
#main .wpcf7-list-item-label {
  line-height: 20px;
}
#main #contact-form .row {
  margin-left: 0;
  margin-right: 0;
}
@media (min-width: 768px) {
  #main #contact-form .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
#main #contact-form h3 {
  font-size: 1.75em;
  text-transform: uppercase;
  color: #07634e;
}
#main #contact-form h4 {
  color: #67b43e;
  margin: 20px 0;
  line-height: 28px;
}
#main #contact-form h4 span {
  color: #07634e;
}
#main #contact-form .panel-default {
  border: none;
}
#main #contact-form .panel-heading {
  background-color: #67b43e;
}
@media (min-width: 768px) {
  #main #contact-form .panel-heading {
    line-height: 80px;
  }
}
#main #contact-form .panel-title {
  font-size: 1.375em;
  color: #ffffff;
}
@media (min-width: 768px) {
  #main #contact-form .panel-title {
    font-size: 1.75em;
  }
}
#main #contact-form .panel-title span {
  color: #07634e;
  display: block;
}
@media (min-width: 768px) {
  #main #contact-form .panel-title span {
    display: inline;
  }
}
#main #contact-form .panel-title a {
  background-image: url("../img/accordion-icons.png");
  background-position: 100% -124px;
  background-repeat: no-repeat;
  display: block;
  text-decoration: none;
  min-height: 40px;
}
@media (min-width: 768px) {
  #main #contact-form .panel-title a {
    background-position: 100% -103px;
  }
}
#main #contact-form .panel-title a:hover {
  text-decoration: none;
}
#main #contact-form .panel-title a.collapsed {
  background-image: url("../img/accordion-icons.png");
  background-position: 100% 8px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  #main #contact-form .panel-title a.collapsed {
    background-position: 100% 30px;
  }
}
#main #contact-form .panel-body {
  padding: 40px 0;
  border: none;
}
#main #contact-form .panel-group {
  position: relative;
}
#main #contact-form form {
  padding: 0;
  margin: 20px 0;
}
@media (min-width: 768px) {
  #main #contact-form form {
    margin: 60px 0;
  }
}
#main #contact-form form textarea,
#main #contact-form form input[type="text"],
#main #contact-form form input[type="date"],
#main #contact-form form input[type="email"],
#main #contact-form form input[type="tel"] {
  color: #07634e;
  margin-top: 4px;
  border: 1px solid #333233;
  border-radius: 0;
}
#main #contact-form form textarea {
  height: 214px;
}
#main #contact-form form label {
  line-height: 20px;
  display: block;
}
#main #contact-form form hr {
  border-color: #67b43e;
}
@media (min-width: 768px) {
  #main #contact-form form hr {
    margin-bottom: 40px;
  }
}
#main #contact-form form .form-section-header {
  color: #67b43e;
  margin-top: 20px;
  font-family: "Nexa Bold", helvetica, arial, serif;
  font-weight: normal;
  font-size: 1.25em;
}
@media (min-width: 768px) {
  #main #contact-form form .form-section-header {
    margin-top: 40px;
  }
}
#main #contact-form form .wpcf7-form-control-signature-wrap canvas {
  border: 1px solid #333233;
  margin-top: 10px;
}
#main #contact-form form .radio-inline {
  line-height: 24px;
}
#main #contact-form form input[type="submit"],
#main #contact-form form a.next-step {
  background-color: #67b43e;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  float: right;
  text-transform: uppercase;
  width: 100%;
  border-radius: 0;
  margin: 0;
}
@media (min-width: 768px) {
  #main #contact-form form input[type="submit"],
  #main #contact-form form a.next-step {
    width: auto;
    padding: 8px 20px;
  }
}
@media (min-width: 768px) {
  #main #contact-form form .go-back {
    float: left !important;
  }
}
#main #intro {
  padding: 20px 0;
}
@media (min-width: 768px) {
  #main #intro {
    padding: 30px 0;
  }
}
#main #intro img {
  width: 150px;
}
@media (min-width: 768px) {
  #main #intro img {
    width: auto;
  }
}
#main #intro p {
  display: none;
}
#main #our-mission {
  background: url("../img/our-mission-bg.png") center center no-repeat;
  background-size: cover;
}
#main #our-mission img {
  margin-bottom: 20px;
}
#main #our-mission ul li, #main #our-mission p, #main #our-mission h1 {
  color: #ffffff;
}
@media (min-width: 768px) {
  #main #our-goals h1 {
    margin-top: 100px;
  }
}
#main #statement-of-belief {
  background-color: #07634e;
}
#main #statement-of-belief ul li, #main #statement-of-belief p, #main #statement-of-belief h1 {
  color: #ffffff;
}
#main #statement-of-belief .vertical-carousel {
  margin-top: 20px;
  position: relative;
}
@media (min-width: 768px) {
  #main #statement-of-belief .vertical-carousel {
    margin-top: 80px;
    padding: 0 5%;
  }
}
@media (min-width: 768px) {
  #main #statement-of-belief .vertical-carousel .vertical-carousel-scroll {
    height: 430px;
    overflow: hidden;
    pointer-events: none;
  }
}
#main #statement-of-belief .vertical-carousel .vertical-carousel-scroll ul {
  margin-top: 0;
}
@media (min-width: 768px) {
  #main #statement-of-belief .vertical-carousel .vertical-carousel-scroll ul li {
    min-height: 200px;
  }
}
#main #statement-of-belief .vertical-carousel span {
  display: none;
}
@media (min-width: 768px) {
  #main #statement-of-belief .vertical-carousel span {
    cursor: pointer;
    background: url("../img/up-down-btn-sprite.png") no-repeat;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 30%;
  }
}
#main #statement-of-belief .vertical-carousel span.up {
  left: 0;
  background-position: left center;
}
#main #statement-of-belief .vertical-carousel span.down {
  right: 0;
  background-position: right center;
}
#main #thirty-three {
  background: url("../img/thirty-three-bg.png") center center no-repeat;
  height: 480px;
}
@media (min-width: 768px) {
  #main #thirty-three {
    height: 800px;
  }
}
#main #thirty-three .container {
  position: relative;
  height: inherit;
}
#main #thirty-three .container .circle-container {
  position: absolute;
  top: 0px;
  right: -60px;
  display: block;
  width: 365px;
  height: 365px;
  border-radius: 180px;
  background-color: #67b43e;
  padding: 10px;
  text-align: center;
}
@media (min-width: 768px) {
  #main #thirty-three .container .circle-container {
    right: -50px;
    top: 150px;
  }
}
@media (min-width: 992px) {
  #main #thirty-three .container .circle-container {
    right: 30px;
  }
}
@media (min-width: 1200px) {
  #main #thirty-three .container .circle-container {
    right: 140px;
  }
}
#main #thirty-three .container .circle-container img {
  margin: 40px 0 0 0;
}
#main #thirty-three .container .circle-container h1 {
  color: #ffffff;
  margin: 20px 0 0px 0;
}
@media (min-width: 768px) {
  #main #thirty-three .container .circle-container h1 {
    margin: 70px 0 110px 0;
  }
}
#main #thirty-three .container .circle-container h3 {
  color: #ffffff;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #main #thirty-three .container .circle-container h3 {
    color: #07634e;
  }
}
#main #thirty-three .container .circle-container p {
  color: #ffffff;
  font-size: 1.125em;
  line-height: 25px;
  margin: 14px auto 0 auto;
  width: 200px;
}
@media (min-width: 768px) {
  #main #thirty-three .container .circle-container p {
    color: #07634e;
    width: 260px;
  }
}
@media (min-width: 992px) {
  #main #thirty-three .container .circle-container p {
    width: auto;
  }
}

/* Footer */
footer {
  background-color: #e9e8e8;
  height: 60px;
}
@media (min-width: 768px) {
  footer {
    height: 82px;
  }
}
footer h3 {
  line-height: 60px;
}
@media (min-width: 768px) {
  footer h3 {
    line-height: 82px;
  }
}
footer h3 a {
  color: #07634e;
}
footer div.right {
  text-align: right !important;
}
footer ul.social {
  padding-top: 24px;
}
@media (min-width: 768px) {
  footer ul.social {
    padding-top: 34px;
  }
}
footer ul.social li {
  display: inline-block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  overflow: hidden;
  background: url("../img/social-sprite.png") no-repeat;
}
footer ul.social li a {
  width: 17px;
  height: 17px;
  display: block;
  text-indent: 9999px;
}
footer ul.social li.fb {
  background-position: left bottom;
}
footer ul.social li.fb:hover {
  background-position: left top;
}
footer ul.social li.tw {
  background-position: right bottom;
}
footer ul.social li.tw:hover {
  background-position: right top;
}

/* ==========================================================================
  Addtions 
   ========================================================================== */
.post-password-form {
  text-align: center;
  outline: none !important;
}
.post-password-form input[type='submit'] {
  margin: 0 auto !important;
  float: none !important;
  margin-top: 24px !important;
  border: none;
  width: 105px !important;
}

/* ==========================================================================
   Ipad 1/2/3/4 & Ipad Mini
   ========================================================================== */
/* ==========================================================================
   Internet Explorer Tidies
   ========================================================================== */
/* IE Fixes for ie8 */
/* IE Fixes for ie7 */
