// tablet size  - 0 and 767px
// Tablet size  - 768px and 991px 	- @include breakpoint(tablet) {}
// Website size - 992px and 1199px - @include breakpoint(website) {}
// Large size  	- 1220px and 1439 	- @include breakpoint(large) {}
// ExLarge size - 1440px and above 	- @include breakpoint(exlarge) {}

/* Assigning box model */
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

// Assigning box model polyfill for ie7 & ie 8
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
	-ms-behavior: url(/backgroundsize.min.htc);
}

/* Assigning clearfix to classes */
.clearfix, .group{
  @include clearfix;
}

/* contact 7 form styles */
.wpcf7-form-control-wrap{
	position: relative;
	display: block;
}
span.wpcf7-not-valid-tip{
  padding: 4px;
  background-color: white;
  width: 100%;
  margin: 10px 0;

  @include breakpoint(website) {
  	margin: 0;
  	width: 95%;
  }
  @include breakpoint(large) {
  	width: 90%;
  }
}
.wpcf7-validation-errors{
	color: red;
}

.wpcf7-validation-errors{
  border: 1px solid $green !important;
  padding: 14px !important;
  text-align: center;
  @include fonts($avenir);
}
.wpcf7-mail-sent-ok {
	border: 1px solid green !important;
  padding: 14px !important;
  color: green;
  @include fonts($avenir);
  text-align: center;
}

/* Boostrap styles */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
  @include breakpoint(tablet) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.navbar-default{
	background-color: transparent;
	border: none !important;
}
.navbar-toggle{
	 margin-top: 14px;
}

.carousel-control.left,
.carousel-control.right{
	background-image: none;
	filter: none;
}

.btn-default{
	font-size: em(15, 16);
	text-transform: uppercase;
	@include border-radius(5px);
	background-color: transparent;
	line-height: 30px;
	text-align: center;
	color: $white;
	width: 90%;
	margin: 0 5%;

	@include breakpoint(tablet) {
		margin: 0;
		padding: 0 30px;
		line-height: 45px;
		width: auto;
	}
}

.btn-primary{
	@extend .btn-default;
	background-color: #2cb00d;
	border-color: #2cb00d;

	&:hover{
		background-color: rgba(44,176,14,0.8);
		border-color: #2cb00d;
	}
}

.form-control{
	border: 1px solid $white;
	color: $white;
	font-size: em(18, 16);
  @include fonts($avenir);
  line-height: 48px;
  min-height: 48px;
}

.carousel-indicators li{
	background-color: $white;
}
.carousel-indicators li.active{
	background: $white url('../img/active-link.png') center center no-repeat;
}
.carousel-inner{
	min-height: 440px;

	@include breakpoint(tablet) {
		min-height: 340px;
	}
	@include breakpoint(large) {
		min-height: 360px;
	}
}

/* Helper Classes */
@include breakpoint(mobile) {
	.left{text-align: left;}
	.center{text-align: center;}
	.right{text-align: right;}
}

.tablet{
	display: block;
	@include breakpoint(mobile) {
		display: none;
	}
}
.website{
	display: none;
	@include breakpoint(tablet) {
		display: block;
	}
}

.no-padding-bottom{
	padding-bottom: 0 !important;
}

.circle-list{

	margin: 20px 0;
	text-align: left;
	counter-reset: my-awesome-counter;

	@include breakpoint(tablet) {
		margin: 40px 0;
	}
	
	@include breakpoint(website) {
		margin: 80px 5%;
	}

	li{

		padding-left: 60px;
		position: relative;
		line-height: 33px;
		display: inline-block;
		margin-bottom: 30px;
		counter-increment: my-awesome-counter;
		cursor: pointer;

		@include breakpoint(tablet) {
			padding-left: 160px;
			min-height: 140px;
		}

		@include breakpoint(website) {
			width: 46%;
			margin: 40px 2%;
			min-height: 210px;

		}

		&:before{
			content: counter(my-awesome-counter);
			width: 40px;
			height: 40px;
			display: block;
			font-size: em(24, 16); 
			line-height: 40px;
			border-radius: 80px;
			background-color: $light_green;
			border: 3px solid $light_green;
			color: $white;
			@include fonts($nexa_bold); 
			position: absolute;
  		left: 0px;
  		top: 0;
  		text-align: center;

  		@include breakpoint(tablet) {
  			width: 134px;
				height: 134px;
				line-height: 134px;
				font-size: em(55, 16); 
  		}
		}

		&:hover{
			color: $light_green;

			&:before{
				background-color: $white;
				color: $green;
			}
		}

		span{
			

    	@include breakpoint(tablet) {
    		height: 140px;
    		display: table-cell;
    		vertical-align: middle; 
    	}
		}
	}
}

.application-steps{
  margin-top: 40px;
  position: relative;

  .steps-line {
  	display: none;
  	@include breakpoint(tablet) {
  		display: block;
  		position: absolute;
  		top: 34px;
  		height: 1px;
  		background-color: #CCCCCC;
  		width: 100%;
  		z-index: 1;
  	}
	}

	.step {
  	position: relative;
  	z-index: 2;
  	padding: 0 0 0 60px;
  	margin: 10px 0;
  	
  	@include breakpoint(tablet) {
  		text-align: center;
  		float: left;
  		width: 25%;	
  	}

  	.step-number {
  		position: absolute;
  		left: 0;
  		top: 0;
  		text-align: center;

  		@include fonts($avenir);
	    background: #67b43e;
    	color: #ffffff;
    	border: 2px solid $light_green;
	    border-radius: 50%;
	    display: block;
	    height: 30px;
	    margin: 0px auto;
	    width: 30px;
	    line-height: 28px;
	    margin-bottom: 10px;

	    @include breakpoint(tablet) {
	    	border: 4px solid $light_green;
	    	position: static;
  			left: auto;
  			top: auto;
	    	height: 50px;
	    	width: 50px;
	    	line-height: 46px;
	    }
	  }

	  .step-label {
	  	color: #67b43e;
	  	@include fonts($avenir);
	  }

	  &.active{ 
	  	.step-number {
	    	background: $white;
    		border: 2px solid $light_green;
    		color: $green;

    		@include breakpoint(tablet) {
    			border: 4px solid $light_green;
    		}
	  	}
	  	.step-label {
  			color: #07634e;
			}
		}
	}
}

#tabs {
	border: none;
	text-align: center;
	margin-bottom: 20px;

	@include breakpoint(tablet) {
		margin-bottom: 40px;
	}

	li{

		@include breakpoint(mobile) {
			float: none;
			display: inline-block;
		}
		
		a{
			background: $light_green;
			color: $white;
			border: 1px solid $light_green;
	    border-radius: 80px;
	    text-align: center;
	    width: 40px;
	    height: 40px;
	    line-height: 40px;
	    padding: 0;
	    margin: 8px 8px 8px 0;

	    @include breakpoint(tablet) {
	    	width: 50px;
	    	height: 50px;
	    	line-height: 50px;
	    	margin: 4px;
	    }

	    @include breakpoint(website) {
	    	width: 60px;
	    	height: 60px;
	    	line-height: 60px;
	    	margin: 6px;
	    }

	    @include breakpoint(large) {
				width: 70px;
				height: 70px;
				line-height: 70px;
				margin: 12px;
			}
		}
	}

	li.active a{
		
		background: $green;
		border: 1px solid $white;

		@include breakpoint(tablet) {
			width: 80px;
			height: 80px;
			line-height: 80px;
		}

		@include breakpoint(large) {
			width: 100px;
			height: 100px;
			line-height: 100px;
		}
	}
}


/* ==========================================================================
   Headspace's custom styles
   ========================================================================== */


/* Header */
header{

	position: fixed;
  background-color: $white;
  width: 100%;
  z-index: 600;

	.navbar{

		margin: 0;

		.navbar-header{

			height: 64px;

			@include breakpoint(tablet) {
				height: 100px;
			}

			.navbar-brand{
				display: block;
				height: auto;
  			padding: 15px;

  			@include breakpoint(tablet) {
  				padding: 15px 0;
  			}

  			img{
  				width: 72px;

  				@include breakpoint(tablet) {
  					width: 100px;
  				}

  				@include breakpoint(website) {
  					width: auto;
  				}
  			}
			}
		}

		#scrollspy{

			ul{

				li{

					margin: 0 8px;
					font-size: em(16, 16); 

					@include breakpoint(tablet) {
						margin: 0 2%;
						width: 20%;
					}

					@include breakpoint(website) {
						margin: 0 8px;
						width: auto;
					}

					a{
						padding: 0 0 0 15px;
						color: $green;
						text-transform: uppercase;
		  			line-height: 40px;
		  			font-size: em(16, 16); 

		  			@include breakpoint(tablet) {
		  				border-top: 5px solid $white;
		  				line-height: 18px;
  						padding: 10px 0 0 0;
  						margin: 6px 0;
						}

						@include breakpoint(website) {
		  				line-height: 64px;
		  				padding-top: 30px;
		  				margin: 0;
						}

		  			&:hover{
		  				color: $light_green;

		  				@include breakpoint(tablet) {
		  					border-top: 5px solid $light_green;
		  				}
		  			}
					}
				}

				li.active a,
				li.current-menu-item a{
		  		color: $light_green;
		  		@include breakpoint(tablet) {
		  			background-color: transparent;
  					border-top: 5px solid $light_green;
  				}
				}
			}
		}
	}
}

article{
	padding: 60px 0 20px 0;
	overflow: hidden;
	@include breakpoint(tablet) {
		padding: 60px 0 40px 0;
	}
	@include breakpoint(website) {
		padding: 60px 0;
	}
}


/* Main */
#main{

	padding-top: 64px;
	@include breakpoint(tablet) {
		padding-top: 100px;
	}

	
	#banner{
		@include clearfix();
		padding: 0;
		width: 100%;
		height: 200px;
		background: url('../img/banner-bg.png') center center no-repeat;
		background-size: cover;

		@include breakpoint(banner_mobile){
			height: 300px;
		}

		@include breakpoint(mobile) {
			height: 400px;
		}

		@include breakpoint(website) {
			height: 550px;
		}

		.filter{
			width: 100%;
			height: 200px;
			@include breakpoint(banner_mobile){
				height: 300px;
			}
			@include breakpoint(mobile) {
				height: 400px;
			}

			@include breakpoint(website) {
				height: 550px;
			}
    	height: 550px;
    	position: absolute;
    	background-color: rgba($green,0.3);
		}
	}

	#main-carousel{
		height: 200px;

		@include breakpoint(mobile) {
			height: 400px;
		}

		@include breakpoint(website) {
			height: 550px;
		}

		.carousel-inner .item{
			text-align: center;

			@include breakpoint(tablet) {
				padding: 0 20%;
			}

			a{
				display: block;

				img{
					width: 60%;
					margin: 60px 20%;

					@include breakpoint(tablet) {
						width: auto;
						margin: 100px auto;
					}
				}
			}
		}
	}

	#default-title-area{
		background: url('../img/our-mission-bg.png') center center no-repeat;
		h1{
			color: $white;
			margin: 0;
		}
	}

	#default {

		ul li, p{
			font-size: 20px;

			a{
				color: $green;
				text-decoration: underline;

				&:hover{
					color: $light_green;
				}
			}
		}

		ul{
			margin-bottom: 40px;

			li{

				position: relative;
				padding-left: 20px;

				&:before{
					position: absolute;
					left: 0px;
					top: 0px;
					content: "• ";
					color: $light_green;
				}
			}
		}
		
	}

	.wpcf7-form-control-signature-wrap input{
		background-color: $green;
    color: $white;
    border: none;
    position: absolute;

    bottom: 3px;
    left: 0;
    padding: 12px 135px;

    @include breakpoint(tablet) {
    	bottom: auto;
    	top: 10px;
    	left: auto;
    	right: -10px;
    	padding: 94px 16px;
  	}

  	@include breakpoint(website) {
  		padding: 94px 22px;
  	}
  	@include breakpoint(large) {
  		padding: 94px 16px;
  	}
	}

	.wpcf7-list-item-label{
		line-height: 20px;
	}

	#contact-form{

		.row{
			margin-left: 0;
			margin-right: 0;

			@include breakpoint(tablet) {
				margin-left: -15px;
				margin-right: -15px;
			}
		}

		h3{
			font-size: em(28, 16);
			text-transform: uppercase;
			color: $green;
		}

		h4{
			color: $light_green;
			margin: 20px 0;
			line-height: 28px;
		 	span{
				color: $green;
			}
		}

		.panel-default{
			border: none;
		}

		.panel-heading{
			background-color: $light_green;

			@include breakpoint(tablet) {
				line-height: 80px;
			}
		}

		.panel-title{
			font-size: em(22, 16);
			color: $white;

			@include breakpoint(tablet) {
				font-size: em(28, 16);
			}

			span{
				color: $green;
				display: block;

				@include breakpoint(tablet) {
					display: inline;
				}
			}

			a{
				background-image: url("../img/accordion-icons.png");
				background-position: 100% -124px; 
				background-repeat: no-repeat;
				display: block;
				text-decoration: none;
				min-height: 40px;

				@include breakpoint(tablet) {
					background-position: 100% -103px; 
				}

				&:hover{
					text-decoration: none;
				}
			}

			a.collapsed{
				background-image: url("../img/accordion-icons.png"); 
				background-position: 100% 8px; 
				background-repeat: no-repeat;

				@include breakpoint(tablet) {
					background-position: 100% 30px; 
				}
			}
		}

		.panel-body{
			padding: 40px 0;
			border: none;
		}

		.panel-group{
			position: relative;
		}

		form{

			padding: 0;
			margin: 20px 0;

			@include breakpoint(tablet) {
				margin: 60px 0;
			}

			textarea, 
			input[type="text"],
			input[type="date"],
			input[type="email"],
			input[type="tel"]{
				color: $green;
				margin-top: 4px;
				border: 1px solid $black;
				border-radius: 0;
			}

			textarea{
				height: 214px;
			}

			label{
				line-height: 20px;
				display: block;
			}

			hr{
				border-color: $light_green;
				@include breakpoint(tablet) {
					margin-bottom: 40px;
				}
			}

			.form-section-header{
				color: $light_green;
				margin-top: 20px;
				@include fonts($nexa_bold); 
    		font-size: em(20, 16); 

				@include breakpoint(tablet) {
					margin-top: 40px;
				}
			}

			.wpcf7-form-control-signature-wrap canvas{
				border: 1px solid $black;
				margin-top: 10px;
			}

			.radio-inline{
				line-height: 24px;
			}

			input[type="submit"],
			a.next-step{
				background-color: $light_green;
			  color: white;
			  padding: 8px;
			  text-align: center;
			  font-size: 18px;
			  float: right;
			  text-transform: uppercase;
			  width: 100%;
			  border-radius: 0;
			  margin: 0;

			  @include breakpoint(tablet) {
			  	width: auto;
			  	padding: 8px 20px;
			  }
			}

			.go-back{
				@include breakpoint(tablet) {
					float: left !important;
				}
			}
		}
	}

	#intro{

		padding: 20px 0;
		@include breakpoint(tablet) {
			padding: 30px 0;
		}
	  img{
			//margin-bottom: 20px;
			width: 150px;
			@include breakpoint(tablet) {
				width: auto;
				//margin-bottom: 40px;
			}
		}

		p{
			display: none;
		}
	}

	#our-mission{
		background: url('../img/our-mission-bg.png') center center no-repeat;
		background-size: cover;

		img{
			margin-bottom: 20px;

		}
		ul li, p, h1{
			color: $white;
		}

		
	}

	#our-goals{
		
		h1{
			@include breakpoint(tablet) {
				margin-top: 100px;
			}
		}
	}

	#statement-of-belief{
		background-color: $green;
		
		ul li, p, h1{
			color: $white;
		}

		.vertical-carousel{
			
			margin-top: 20px;
			position: relative;

			@include breakpoint(tablet) {
				margin-top: 80px;
				padding: 0 5%;
			}

			.vertical-carousel-scroll{
				
				@include breakpoint(tablet) {
					height: 430px;
					overflow: hidden;
					pointer-events:none;
				}
				
				ul{
					margin-top: 0;

					li{
						@include breakpoint(tablet) {
						  min-height: 200px;
						}
					}
				}

			}

			span{
				display: none;

				@include breakpoint(tablet) {
					cursor: pointer;
					background: url('../img/up-down-btn-sprite.png') no-repeat;
					width: 36px;
					height: 36px;
					display: block;
					position: absolute;
					top: 30%;
				}
			}
			span.up{
				left: 0;
				background-position: left center;
			}
			span.down{
				right: 0;
				background-position: right center;
			}

		}
	}

	#thirty-three{
		background: url('../img/thirty-three-bg.png') center center no-repeat;
		height: 480px;

		@include breakpoint(tablet) {
			height: 800px;
		}
		.container{
			position: relative;
			height: inherit;

			.circle-container{
				position: absolute;
				top: 0px;
				right: -60px;
				display: block;
				width: 365px;
				height: 365px;
				border-radius: 180px;
				background-color: $light_green;
				padding: 10px;
				text-align: center;

				@include breakpoint(tablet) {
					right: -50px;
					top: 150px;
				}

				@include breakpoint(website) {
					right: 30px;
				}

				@include breakpoint(large) {
					right: 140px;
				}
				img{
					margin: 40px 0 0 0;
				}
				h1{
					color: $white;
					margin: 20px 0 0px 0;
					@include breakpoint(tablet) {
						margin: 70px 0 110px 0;
					}
				}
				h3{
					color: $white;
					text-transform: uppercase;
					@include breakpoint(tablet) {
						color: $green;
					}
				}
				p{
					color: $white;
					font-size: em(18, 16);
					line-height: 25px;
					margin: 14px auto 0 auto;
					width: 200px;
					@include breakpoint(tablet) {
						color: $green;
						width: 260px;
					}
					@include breakpoint(website) {
						width: auto;
					}
				}
			}
		}
	}
}

/* Footer */
footer{

	background-color: $grey_bg;
	height: 60px;

	@include breakpoint(tablet) {
		height: 82px
	}

	h3{
		line-height: 60px;

		@include breakpoint(tablet) {
			line-height: 82px
		}

		a{
			color: $green;
		}
	}

	div.right{
		text-align: right !important;
	}

	ul.social{

		 padding-top: 24px;

		 @include breakpoint(tablet) {
		 	padding-top: 34px;
		 }

		li{
			display: inline-block;
			width: 17px;
			height: 17px;
			line-height: 17px;
			overflow: hidden;
			background: url('../img/social-sprite.png') no-repeat;

			a{
				width: 17px;
				height: 17px;
				display: block;	
				text-indent: 9999px;
			}
		}

		li.fb{
			background-position: left bottom;

			&:hover{
				background-position: left top;
			}
		}
		li.tw{
			background-position: right bottom;
			&:hover{
				background-position: right top;
			}
		}
	}
}

/* ==========================================================================
  Addtions 
   ========================================================================== */

 	.post-password-form{
 		text-align: center;
 		outline: none !important;
 		input[type='submit']{
 			margin: 0 auto !important;
	    float: none !important;
	    margin-top: 24px !important;
	    border: none;	
	    width: 105px !important;
	  }
 	}

/* ==========================================================================
   Ipad 1/2/3/4 & Ipad Mini
   ========================================================================== */

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {}


/* ==========================================================================
   Internet Explorer Tidies
   ========================================================================== */

/* IE Fixes for ie8 */

/* IE Fixes for ie7 */