// 
// Functions & Mixins
//

// Convert px to em
$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

// Return font-family
@mixin fonts($font-types){
  font-family: $font-types, helvetica, arial, serif;
  font-weight: normal;
}

// Setup clearfix on an element
@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table;}
  &:after { clear: both; }
}

// Setting all elements to box model
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

// Opacity mixin
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Setting absolute position
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}


// Set media query
@mixin breakpoint($point) {
  @if $point == banner_mobile {
    @media (min-width: 400px) { @content; }
  }
  @if $point == mobile {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) { @content; }
  }
  @else if $point == website {
    @media (min-width: 992px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 1200px)  { @content; }
  }
  @else if $point == exlarge {
    @media (min-width: 1440px)  { @content; }
  }
}




