/* ==========================================================================
   Font Face
   ========================================================================== */


// Avenir Medium
@include font-face("Avenir Medium", 
  font-files( "fonts/Avenir-Medium/Avenir-Medium.woff", "fonts/Avenir-Medium/Avenir-Medium.ttf"), "fonts/Avenir-Medium/Avenir-Medium.eot",  "normal",
  "normal"
);

// Nexa Bold
@include font-face("Nexa Light", 
  font-files( "fonts/Nexa-Light/light.woff", "fonts/Nexa-Light/light.ttf", "fonts/Nexa-Light/light.svg"),  "fonts/Nexa-Light/light.eot", "normal",
  "normal"
);

// Nexa Light
@include font-face("Nexa Bold", 
  font-files( "fonts/Nexa-Bold/bold.woff", "fonts/Nexa-Bold/bold.ttf", "fonts/Nexa-Bold/bold.svg"),  "fonts/Nexa-Bold/bold.eot", "normal",
  "normal"
);

// Fonts
$avenir     : "Avenir Medium";
$nexa_light : "Nexa Light";
$nexa_bold  : "Nexa Bold";

/* ==========================================================================
   Base Styles
   ========================================================================== */

h1,h2,h3,p,ul li,a,small,
label,input,textarea, blockquote{@include fonts($avenir);}

$base-font-size: 16px;

html {
    font-size: $base-font-size;
}

body {
  font-size:80%;
  @include breakpoint(mobile) {font-size:85%;}
  @include breakpoint(tablet) {font-size:90%;}
  @include breakpoint(website) {font-size:100%;}
}

h1{ 
  font-size: em(45, 16); 
  @include fonts($nexa_bold); 
  line-height: 43px;
  margin-bottom: 20px;
  text-transform: uppercase;

  @include breakpoint(tablet) {
    font-size: em(55, 16); 
    margin-bottom: 40px;
  }
}
h2{
  font-size: em(49, 16);
  @include fonts($nexa_light); 
}
h3{
  font-size: em(24, 16); 
  @include fonts($avenir);
}
h4{
  font-size: em(20, 16); 
  @include fonts($avenir);
}
p{
  @include fonts($avenir);
  font-size: em(23, 16);
  line-height: 43px;
  color: $green;
  margin-bottom: 40px;
}
strong{
  color: $light_green;
}
ul li{
  @include fonts($avenir);
  font-size: em(23, 16);
  line-height: 43px;
  color: $green;
}
small{
  font-size: em(10, 16);
  @include fonts($avenir);
}




